<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let comment of allComments" button>
      <ion-label>
        <h2>{{comment.node.title}}</h2>
        <p>
          #{{comment.node.number}}
        </p>
      </ion-label>
      <ion-note slot="end">
        {{comment.node.repository.nameWithOwner}}
      </ion-note>
    </ion-item>
  </ion-list>
</ion-content>
