.issue h2 {
  font-weight: bold;
}

.reaction {
  display: inline-block;
  margin: 0px 3px;
}

.reaction-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.reaction-emoji {
}

.reaction-count {
  color: #0366d6;
}

.issue-state, .issue-label {
  border-radius: 2px;
  padding: 3px;
  font-size: 11px;
  color: white;
  display: inline-block;
  margin-right: 5px;
  font-weight: 600;
}

.issue-state {
  text-transform: lowercase;
  margin-left: 10px;
}
.issue-state.CLOSED {
  background-color: #f00;
}
.issue-state.OPEN {
  background-color: #1d981d;
}
.star {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
}