<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let issue of allIssues" button (click)="openIssue(issue)">
      <ion-label>
        <h2>{{issue.node.title}}</h2>
        <h3>Last updated {{getUpdatedAtDate(issue.node.updatedAt)}}</h3>
        <p>
          #{{issue.node.number}} -
          {{issue.node.comments.edges.length}} comments -
          {{issue.node.reactions.edges.length}} reactions
          {{issue.node.repository.nameWithOwner}}
        </p>
      </ion-label>

    </ion-item>
  </ion-list>
</ion-content>
